# Build and release without NPM registry (use Github Tags to import the package)
name: Build and Release Tag

on:
  push:
    tags:
      - "v*"
jobs:
  build-and-commit:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Checkout Code
        uses: actions/checkout@v5
        with:
          ref: ${{ github.ref }}

      # Use Mise to read Node.js version from `mise.toml` or `.nvmrc`
      - name: Set up mise
        uses: jdx/mise-action@v3
        with:
          install: false
      - run: echo "version=$(mise current node)" >> $GITHUB_ENV

      - name: Set up PNPM
        uses: pnpm/action-setup@v4
        with:
          run_install: false

      - name: Set up Node.js
        uses: actions/setup-node@v6
        with:
          node-version: ${{ env.version }}
          cache: "pnpm"
          cache-dependency-path: "pnpm-lock.yaml"
          package-manager-cache: true

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Test
        run: pnpm test

      - name: Lint
        run: pnpm lint

      - name: Format
        run: pnpm format

      - name: Build
        run: pnpm build

      - name: Commit & Push Dist to Tag
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git add -f dist

          if git diff --staged --quiet; then
            echo "No changes in dist folder"
            exit 0
          fi

          git commit -F - <<EOF
          chore(release): publish tag ${{ github.ref_name }} [skip ci]

          Co-authored-by: ${{ github.actor }} <${{ github.actor_id }}+${{ github.actor }}@users.noreply.github.com>

          Source commit: ${{ github.sha }}
          Triggered by: ${{ github.actor }}
          Workflow run: ${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}
          EOF
          git tag -f ${{ github.ref_name }}
          git push origin ${{ github.ref_name }} --force

      - name: Release Notes
        run:
          git log $(git describe HEAD~ --tags --abbrev=0)..HEAD --pretty='format:* %h %s%n  * %an <%ae>' --no-merges >>
          ".github/RELEASE-TEMPLATE.md"
      - name: Release with Notes
        uses: softprops/action-gh-release@v1
        with:
          body_path: ".github/RELEASE-TEMPLATE.md"
          draft: true
          files: ${{env.BINARY_NAME}}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
